.notFound{
    /* display: flex;
    flex-direction: column;
   
    align-items: center; */
    height: 100vh;

    color: azure;
  
    background-color: rgb(50, 31, 255);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin: 0 auto;
    padding: 20px ;
  }
  
  .notFound img {

    border-radius: 50%;
    
  }