.header {
  font-size: 18px;
  background-color: #1b0c53;
}

.container {
  width: 100%;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding: 0 20px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    width: 1200px;
    padding: 0 20px;
  }
}

.header a {
  display: inline-block;
  text-decoration: none;
  color: rgb(167 188 255);

  font-size: 17px;

  padding: 10px;
  transition: 0.5s;
}

@media screen and (min-width: 768px) {
  .header a:not(last-child) {
    margin-right: 50px;
  }
}

@media screen and (min-width: 1280px) {
  .header a {
    font-size: 30px;
  }
}

.header a:hover,
.header a:focus {
  color: rgb(255, 255, 255);

  transition: 0.5s;
}

.active {
  border-radius: 4px;
  border-bottom: 3px solid rgb(255, 0, 0);
  background-color: rgb(0 0 255);
  color: white;

  backdrop-filter: blur(9.5px);
  -webkit-backdrop-filter: blur(9.5px);

  box-shadow: 8px 11px 5px 3px #080832ad;
  transform: scale(1.1);
  transition: 0.5s;

  box-shadow: rgb(0 0 0 / 15%) 1px 3px 27px 3px,
    rgb(0 0 0 / 41%) 0px 34px 13px -3px inset;
}

.wrapper {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }
}

.logo {
  padding: 0;
  width: 65px;
  height: 85px;

  animation: rotateY 4000ms infinite alternate backwards ease-in-out 4000ms;
  padding-bottom: 20px;
}

@media screen and (min-width: 1280px) {
  .logo {
    width: 104px;
    height: 155px;
  }
}

@keyframes rotateY {
  0% {
    transform: perspective(800px) rotateY(30deg);
  }

  100% {
    transform: perspective(800px) rotateY(-30deg);
  }
}
