.footer {
  /* grid-area: f; */
  text-align: center;
  color: azure;

  background: rgb(12, 11, 42);
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px 0;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 700px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1200px;
  }
}

.footerSocial {
  margin-top: 30px;
  margin-bottom: 45px;
}

.pageFooter {
  padding: 60px 0;
  background-color: #2f303a;
}

.pageFooter__box {
  justify-content: flex-start;
  align-items: baseline;
}

@media screen and (min-width: 768px) {
  .footerBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

.logo {
  display: inline-block;
  margin-top: 30px;
  letter-spacing: 0.03em;
  color: #2196f3;
  font-family: Raleway;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  text-decoration: none;

  text-shadow: 0px 0px 18px #382ca7;

  -webkit-text-stroke: 0.2px #a9d9ff;
}

@media screen and (min-width: 768px) {
  .logo {
    font-size: 30px;
  }
}

/* Address */

.pageFooter__link {
  margin-top: 20px;
}

/* sergeishevchenko111@gmail.com */

.pageFooter__links {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

@media screen and (min-width: 1280px) {
  .pageFooter__links {
    font-size: 20px;
  }
}

.footerSocial__slogan {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  /* text-transform: uppercase; */
  color: white;
}

@media screen and (min-width: 1280px) {
  .footerSocial__slogan {
    font-size: 20px;
  }
}

/* social */

.flexy {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.socialRow__icon:not(:last-child) {
  margin-right: 10px;
}

.socialRow__link {
  display: flex;
  align-items: center;

  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  color: white;

  cursor: pointer;

  transition: 1s;
}

.socialRow__link:hover,
.socialRow__link:focus {
  background-color: #2196f3;
  box-shadow: 0px 0px 20px 17px #241e5a70;

  transform: scale(1.1);

  transition: 0.25s;
}

.socialRow__linkWhite {
  fill: #ffffff;
}

.copyright {
  display: flex;

  margin-bottom: 10px;
  color: #ffffff80;
  font-size: 14px;
}
